#perfil{
  width: 270px;
  border-radius: 50%;
  
  /* height:205px ; */
  
}

div.icon-block{
	height: 480px;
}

#header{
	margin: 85px 10px 100px 35px;
	height:450px;
}

#index-banner{
	height: 670px;
}

#ultima{
	margin: -40px 10px 10px 10px;
	height:90px;	
}

#texto-img{
	text-shadow: 0.1em 0.1em 0.06em black;
}

#texto{
	  font-size:20px;
	  text-align: justify;
	  padding:0.01px;
}

#texto2{
	  text-align: justify;
}

h4#font-header{
      font-family: 'Titillium Web', sans-serif;
	  font-size:40px;
}

h6#font-header{
	  font-size:20px;
	  padding:0.01em;
	  text-shadow: 0.2em 0.2em 2.0em black;
	  color:white;
	  font-weight:500px;
    }

.left-sidebar{
	  position:absolute;
	  top:27%;
	  z-index:999;
	}
	
.left-sidebar ul{
	  border:none;
	}
	
.left-sidebar i.fa{
	  padding:1px;
	  font-size:16px;
	  color:#fff;
	}
	
.left-sidebar li{
	  width:54px;
	  transition:.5s;
	}
	
.left-sidebar li:nth-child(1){
	  background:#000;
	}
	
.left-sidebar li:nth-child(2){
	  background:#000;
	}
	
.left-sidebar li:nth-child(3){
	  background:#0077B5;
	}
	
.left-sidebar li:nth-child(4){
	  background:#25D366;
	}
	
.left-sidebar li:nth-child(5){
	  background:#e4405f;
	}
	
.left-sidebar li:nth-child(6){
	  background:#3b5999;
	}
	
.left-sidebar li:hover{
	  width:70px;
	}
	
p#citacao{
	font-size:25px;
}

#rede{
	font-size:25px;
	padding:0.2em;
}

#social{
	font-size:20px;
	padding:0.5em;
	color: #fff;
	transition: .5s;
}

#social:hover {
	color: #0A5BAD;
	transition: .5s;
}


@-webkit-keyframes #icons-cima
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#icons-cima:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

#icons-baixo:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
 
 
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
   
   #header{
	  margin: 10px 10px 100px 35px;
	  height:450px;
}
   
   div.icon-block{
	    height:20em;
		margin: -2.5em 5px 50px 17.5px;
    }
   
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 780px) and (max-width: 767px) {

  /* #header{ */
	  /* margin: 20px 10px 100px 35px; */
	  /* height:450px; */
/* } */
   
   /* div.icon-block{ */
	    /* height:20em; */
		/* margin: -2.5em 5px 50px 17.5px; */
    /* } */
   


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
    h1{
        font-size:30px;	
        margin-bottom:0.2em;
		margin-top:29%;
		
    }
	
	i#icons-cima{
		
		line-height:4em;
		font-size:35px;
		
	}
	
	i#icons-baixo{
		line-height:3em;
		font-size:35px;
	}
	
	p#citacao{
		font-size:22px;
	}
	
	div.icon-block{
	    height:20em;
		margin: -9em 5px 50px 17.5px;
    }
	
	#header{
	    margin: 40px 5px 50px 17.5px;
		
    }
	
    #perfil{
		width: 180px;
		border-radius: 50%;
	}
	
	h4#font-header{
		font-family: 'Titillium Web', sans-serif;
		font-size:28px;
}

    h6#font-header{
		font-size:18px;
		padding:0.01em;
		text-shadow: 0.2em 0.2em 2.0em black;
		color:white;
		font-weight:500px;
    }
	
	#index-banner{
	height: 33em;
}

	#div-container{
		text-align: center;
	}
	
	#titulo{
		font-size:25px;
	}
	
	#texto {
		font-size:17px;		
	}
}

@media only screen and (max-width: 767px){
        .left-sidebar { display: none; }
		#img { width:60em;}
		
	}
	
	    